<section id="nav-header" class="flex items-center text-neutral-600">
    <h1 class="text-5xl flex-auto basis-4/6">Rails Blog</h1>
    <nav class="flex-auto basis-2/6">
        <ul class="flex flex-row">
            <%= link_to "Home", articles_path, class:"text-xl basis-1/3 text-center" %>
            <%= link_to "About", "", class:"text-xl basis-1/3 text-center" %>
            <%= link_to "Articles", articles_path, class:"text-xl basis-1/3 text-center" %>
        </ul>
    </nav>
</section>